.contact h2{
    margin-bottom: 0;
    color:  var(--title-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    text-align: center;
}
.contact form{
    max-width:  70rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
    text-align: center;
}

.contact form .input_box{
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.contact form .input_box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--font-medium);
    background: var(--container-color);
    border-radius: 0.8rem;
    border: 2px solid rgba(0,0,0,0.1);
    margin: 1rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
}